# Azure OpenAI (production)
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT_MISTRAL_LARGE=Mistral-Large-3
AZURE_OPENAI_DEPLOYMENT_MISTRAL_SMALL=mistral-small-2503
AZURE_OPENAI_API_VERSION=2024-10-21